*{
  margin: 0px;
  padding-right: 0px;

}

.main {
  width: 102.56999%;

  background: url(pxfuel.jpg) no-repeat center center/cover;
  display: flex;
  background-size: cover;
  
  flex-direction: column ;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100vh;

  position: relative;
  top: 0px;

}
.log {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  border-radius: 50px;
  z-index: 1; /* Ensures it remains above other elements */
}
.icon{
  width: 200px;
  float: left;
  height: 70px;
}
ul li {
  margin: 0px 10px;
  font-size: 16px;
  text-transform: uppercase;
} */
ul li a {
  text-decoration:none;
  color: whitesmoke;  
}
ul li a:hover {
  color: rgb(210, 210, 7);
}

.request:hover{
  background-color: whitesmoke;
  font-weight: bold;
  color: red;
}

.hero-text {
  position: absolute;
  left: 10px;
  top: 100px;
  color: white;
}
.hero-text h1 {
  color: orange;
  font-family: 'Times New Roman';
  font-size: 55px;
  text-decoration: none;
}
.par {
  padding-left: 20px;
  padding-bottom: 27px;
  position: relative;
  margin-top: 15px;
}
.par2 {
  font-style: italic;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}
.below {
  position: absolute;
  top: 455px;
  left: 378px;
  width: 150px;
  height: 30px;
  color: white;
  background: orange;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;

}
.below:hover{
  background-color: whitesmoke;
  font-weight: bold;
  color: red;
}


footer {
  background: url('pxfuel1.jpg') no-repeat center center/cover;
  height: 670px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  border: none;
  }


  
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 20px;
  height: 500px;
  width: 100%;


}
.grid-item {
  background-color: #f0f0f0f0.7;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

